@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="text-danger">AccessDenied</h1> <br />
    <h4 class="text-danger">You don't have a permission to view this page :(</h4> <br />
    <a class="btn btn-lg btn-danger" onclick="window.history.back();">Back</a>
</div>
