@model CreateRoleViewModel

@{
    ViewData["Title"] = "CreateRole";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="text-center">Create role</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button style="width:auto" type="submit" class="btn btn-primary mt-3">Create role</button>
            </form>
        </div>
    </div>
</div>