@model EditRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}

<h1>Edit Role</h1>
<div class="container">
    <form method="post" class="mt-3 mb-3">
        <div class="form-group row">
            <label asp-for="Id" class="col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="RoleName" class="col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="RolesManager" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-header">
            <h3>Users in this role</h3>
        </div>
        <div class="card-body">
            @if (Model.Users!.Any())
            {
                @foreach (var user in Model.Users!)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">None of the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditUsersInRole" asp-route-roleId="@Model.Id" class="btn btn-primary" style="width:auto">Add or remove users</a>
        </div>
    </div>
</div>