@model IEnumerable<PetShopWeb.Models.Animal>
<script src="~/scripts/categorySelect.js"></script>

<div class="container">
    <div class="row justify-content-md-center">

        <partial name="_CategorySelectPartial" />

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Potrait</th>
                    <th scope="col">Name</th>
                    <th scope="col">More info</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var animal in Model)
                {
                    <tr>
                        <td class="w-25"><img asp-append-version="true" src="@animal.ImagePath" class="img-fluid img-thumbnail"/></td>
                        <td class="text-center fs-3">@animal.Name</td>
                        <td>
                            <a class="btn btn-outline-info"
                           asp-controller="AnimalDetails" asp-action="AnimalDetails" asp-route-animalId="@animal.Id">More Information</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>