<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/bootswatchTheme.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" defer></script>
</head>
<body style="background-color:antiquewhite; ">
    <nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: floralwhite;">
        <a class="navbar-brand">
            <img src="~/photos/petShopIcon.png" width="150" height="150" class="d-inline-block align-top" />
        </a>
        <div class="collapse navbar-collapse justify-content-center fs-5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="HomePage" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ShowCatalog" asp-controller="Catalog">Catalog</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrator
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Administrator" asp-action="ManageAnimals">Manage Animals</a>
                        <a class="dropdown-item" asp-controller="Administrator" asp-action="AddNewAnimal">Add Animal</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    @*<div class="text-center">
        <span class="h1">Yarin's Pet Shop</span>
    </div>*@

    <div>
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
